/*
logo and title font
font-family: 'Inconsolata', monospace;

navigation links, post content, and post title font
font-family: 'Playfair Display', serif;

post category, and comment font
font-family: 'Ubuntu', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
}

#comment {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 100px;
  top: 200px;
}

.diary {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -250px;
}

.diary h4 {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 100px;
}

.diary h1 {
  font-family: 'Playfair Display', serif;
  position: absolute;
  margin-top: 25px;
  left: 100px;
}

.diary p {
  font-family: 'Playfair Display', serif;
  position: relative;

}

footer {
  background-color: #EDECEA;
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  bottom: -100%;
  left: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  align-content: center;
}

#facebook {
  height: 15px;
  width: 15px;
  padding: 10px;
}

#header-image {
  margin: 50px 0 0 100px;
  position: absolute;
}

#insta {
  height: 15px;
  width: 15px;
  padding: 10px;
}

#left-footer p {
  font-family: 'Playfair Display', serif;
  flex: 1 1 auto;
}

#left-footer a {
  text-decoration: none;
  color: black;
  margin-right: 500px;
  flex: 1 1 auto;
}

li > a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 50px;
  bottom: 100px;
}

li a:hover {
    color: grey;
    text-decoration: none;
    display: block;
}

.nav {
  position: absolute;
  display: flex;
  bottom: 500px;
}

#title {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  display: flex;
  margin: 100px 0 0 100px;
  font-weight: normal;
}

#twitter {
  height: 15px;
  width: 15px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 0 50px 0 550px;
  display: flex;
}

@media only screen and (max-width: 400px) {
  #header-image {

  }
}
