/*
logo and title font
font-family: 'Inconsolata', monospace;

navigation links, post content, and post title font
font-family: 'Playfair Display', serif;

post category, and comment font
font-family: 'Ubuntu', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
}

#comment {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 100px;
  top: 200px;
  top: 310px;
}

.diary {
  width: 100%;
  height: 500px;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -650px;
  left: 70px;
}

.diary h4 {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 100px;
}

.diary h1 {
  font-family: 'Playfair Display', serif;
  position: absolute;
  margin-top: 25px;
  left: 100px;
}

.diary-content {
  font-family: 'Playfair Display', serif;
  width: 60em;
  word-wrap: break-word;
  margin-left: 100px;
  top: 100px;
  position: absolute;
  display: flex;
}

footer {
  background-color: #EDECEA;
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  bottom: -100%;
  left: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  align-content: center;
}

#facebook {
  height: 15px;
  width: 15px;
  padding: 10px;
}

h1 {
  color: grey;
}

h4 {
  color: #d9dadd
}

#header-image {
  margin: 50px 0 0 100px;
  position: absolute;
  display: flex;
  width: 83%;
  height: 75%;
  background-image: url(images/post-main.png);
  background-size: contain;
}

#insta {
  height: 15px;
  width: 15px;
  padding: 10px;
}

.left-footer {
  left: 50px;
  position: absolute;
  display: inline-flex;
  text-decoration: none;
  color: grey;
  font-family: 'Playfair Display', serif;
}

.left-footer a {
  text-decoration: none;
  color: grey;
}

li a {
  text-decoration: none;
  color: grey;
  display: block;
  padding: 50px;
  bottom: 100px;
}

li a:hover {
    color: grey;
    text-decoration: none;
    display: block;
}

.nav {
  position: absolute;
  display: flex;
  bottom: 500px;
}

p {
  color: #878383;
}

.right-footer {
  right: 50px;
  display: inline-flex;
  position: absolute;
  align-items: center;
}

#title {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  display: flex;
  margin: 100px 0 0 100px;
  font-weight: normal;
}

#twitter {
  height: 15px;
  width: 15px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 0 50px 0 550px;
  display: flex;
}

@media only screen and (max-width: 400px) {
  #header-image {

  }
}
