/*
logo and title font
font-family: 'Inconsolata', monospace;

navigation links, post content, and post title font
font-family: 'Playfair Display', serif;

post category, and comment font
font-family: 'Ubuntu', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #EDECEA;
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-decoration: none;
  bottom: -120px;
  left: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

#facebook {
  height: 20px;
  width: 20px;
  padding: 10px;
}

#header-image {
  margin: 50px 0 0 100px;
  position: absolute;
}

#insta {
  height: 20px;
  width: 20px;
  padding: 10px;
}

#left-footer > p {
  font-family: 'Playfair Display', serif;
}

#left-footer a {
  text-decoration: none;
  color: black;
  margin-right: 500px;
}

li > a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 50px;
  bottom: 100px;
}

li a:hover {
    color: grey;
    text-decoration: none;
    display: block;
}

.nav {
  position: absolute;
  bottom: 500px;
}

#title {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  display: flex;
  margin: 100px 0 0 100px;
}

#twitter {
  height: 20px;
  width: 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 0 50px 0 550px;
  display: flex;
}

@media only screen and (max-width: 400px) {
  #header-image {

  }
}
